apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
  labels:
    app: guestbook-ui
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - name: guestbook-ui
          #image: arunvel1988/devsecops-app-feb-2026:0fcb765
          image: arunvel1988/devsecops-app-feb-2026:0fcb765
          ports:
            - containerPort: 8000
