name: Deploy to KinD Cluster with Kyverno

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:


    - name: Checkout Code
      uses: actions/checkout@v3



    - name: Show Repo Structure
      run: |
        echo "Listing repo files..."
        ls -R



    - name: Validate Manifests with Kyverno
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workdir \
          -w /workdir \
          ghcr.io/kyverno/kyverno-cli:v1.12.5 \
          apply policies/ -r manifests/



    - name: Set up KinD Cluster
      uses: helm/kind-action@v1.4.0
      with:
        version: v0.20.0
        cluster_name: kyverno-demo



    - name: Cluster Info
      run: |
        kubectl cluster-info
        kubectl get nodes






    - name: Deploy Application
      run: |
        kubectl apply -f manifests/


    - name: Wait for Pods
      run: |
        kubectl wait \
          --for=condition=ready pod \
          -l app=guestbook-ui \
          --timeout=60s



    - name: Port Forward Service
      run: |
        nohup kubectl port-forward service/guestbook-ui 8080:8010&
        sleep 20


    - name: Test Application
      run: |
        curl http://localhost:8080
